[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf
[submodule "vmlinux.h"]
	path = vmlinux.h
	url = https://github.com/libbpf/vmlinux.h
[submodule "geminAI-py"]
	path = geminAI-py
	url = https://github.com/jenn-if-err/geminAI-py.git
